PORT=3001
DATABASE_URL=postgres://pp_user:pp_password@db:5432/pp_database
JWT_SECRET=change-me-super-secret
JWT_EXPIRES_IN=15m
JWT_REFRESH_SECRET=change-me-super-secret-refresh
JWT_REFRESH_EXPIRES_IN=7d
STORAGE_REGION=us-east-1
STORAGE_BUCKET=pp-website
STORAGE_ACCESS_KEY=minioadmin
STORAGE_SECRET_KEY=minioadmin
STORAGE_ENDPOINT=http://localhost:9000
STORAGE_FORCE_PATH_STYLE=true
SEED_SUPER_ADMIN_EMAIL=reservas@pesdoparana.com.br
SEED_SUPER_ADMIN_NAME=Pés do Paraná
SEED_SUPER_ADMIN_PASSWORD=Reservas@2026
